body[data-controller=plans] {
  #recipe {
    border: 1px solid #666;
    display: block;
    margin-bottom: 20px;
    padding: 10px;

    &:hover {
      border-color: $dark-blue;
      box-shadow: 1px 1px 5px $dark_blue;
      transition: .5s;
    }
  }
}
