footer {
  background-color: #333;
  border-top: 5px solid $med_blue;
  color: #fff;
  margin-top: 20px;
  padding-bottom: 30px;
  padding-top: 30px;
  
  a {
    color: #fff;
    
    &:hover {
      color: $orange;
      transition: 0.2s;
    }
  }
}