footer {
  background-color: $gray_5;
  border-top: 3px solid $gray_3;
  color: $white;
  margin-top: 20px;
  padding-bottom: 30px;
  padding-top: 30px;
  
  a {
    color: #fff;
    
    &:hover {
      color: $green_1;
      transition: 0.2s;
    }
  }
}