header {
  background-color: $green_4;
  border-bottom: 3px solid $green_2;
  color: $white;
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  
  a { 
    color: $white;
    font-family: Arial, sans-serif;
    
    &:hover { color: $light_purple; }
  }
}