header {
  border-bottom: 5px solid $green;
  color: $green;
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  
  a { 
    color: $green;
    font-family: Arial, sans-serif;
    
    &:hover {
      color: lighten($green, .7);
      transition: .5s;
    }
  }
}