header {
  border-bottom: 5px solid $green_3;
  color: $green_3;
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  
  a { 
    color: $green_3;
    font-family: Arial, sans-serif;
    
    &:hover { color: $green_2; }
  }
}