<section class="block" id="health-eating">
	<h1>What is Healthy Eating?</h1>
	<p>Economics is known as "the dismal science". Nutrition could be labeled "the marketed science". The science of nutrition is really quite simple. However, there is a lot of money to be made in food -- after all, everyone's gotta eat! Since a healthy diet is simple and cheap, the money is to be made with unhealthy food.</p>
	<h2>The Food Pyramid</h2>
	<p>If you follow the official nutrition advice of the US Goverment, your health will suffer. The concept of the food pyramid started as a noble and simple project, but was soon perverted by lobbying interests. The sad history of the food pyramid is well documented in the book: <a href="https://www.amazon.com/dp/B00HFKX24Y/ref=dp-kindle-redirect?_encoding=UTF8&btkr=1">Death By Food Pyramid.</a></p>
	<h2>A Better Food Pyramid</h2>
	<p>As it turns out, a pyramid isn't a great shape for nutrition advice. Not surprisingly, a plate works better. Here's what Harvard came up with:</p>
	<%= image_tag('harvard-plate') %>
	<p>Reasonable people may have some disagreements, but the Harvard plate is indisputably better than the Food Pyramid.</p>
	<h2>What About Meat?</h2>
	<p>In theory, a small amount of quality meat is nutritionally sound. However, it is difficult to even find quality meat in modern-day United States. Factory farming...</p>
</section>

