

.row
  .columns.small-12
    %h2= @meal.name
    %p= @meal.notes
.row
  .columns.small-12
    = link_to "Edit Plan", edit_meal_path, class: 'button'
.row
  .columns.small-12
    = link_to "< All Meals", meals_path, class: 'button'

