//$dark_blue: #123740;
//$med_blue: #549aab;
//$light_blue: #b0d7e1;
//$orange: #f1802d;
//$white: #fff;
//
//$dark_purple: #402e37;
//$light_purple: #665a6a;
//$light_gray: #dae2e2;
//$light_green: #98a565;
//$dark_green: #414d08;
//
//$dark_gray: #222;
//$med_gray: #888;
//
//
//$green_5: #041100;
//$green_4: #122d17;
//$green_3: #416129;
//$green_2: #a4ba4a;
//$green_1: #edf3a4;
//
//$gray_5: #0c0c0c;
//$gray_4: #565656;
//$gray_3: #7b7b7b;
$gray_2: #a2a2a2;
$gray_1: #cacaca;

// https://www.colorcombos.com/color-schemes/2604/ColorCombo2604.html
$green: #28B78D;
$blue: #243743;
$gray: #8A949B;
$white: #FAFAFA;

// http://www.color-hex.com/color-palette/44311

$open_sans: 'Open Sans', sans-serif;
$lato: 'Lato', sans-serif;