.row
  .columns.small-12
    %h1 Plans
.row
  - @plans.each do |p|
    .columns.small-12
      = link_to p.name, plan_path(p)
.row
  .columns.small-12
    = link_to "Add New Meal Plan", new_plan_path, class: 'button'
