<section>
	<h1>Plans</h1>
</section>

<section>
	<% @plans.each do |plan| %>
		<div class="plan block">
			<%= link_to plan.name, plan_path(plan) %>
		</div>
	<% end %>
</section>

<section>
	<%= link_to "Add New Meal Plan", new_plan_path %>
	<%= link_to "Add New Recipe", '#' %>
</section>