<div class="container">
	<footer>
	
		<h6>Site Map</h6>
		<ul>
			<li><%= link_to 'Home', root_path %></li>
			<li><%= link_to 'Menus', menus_path %></li>
			<li><%= link_to 'Recipes', recipes_path %></li>
			<li><%= link_to 'Ingredients', ingredients_path %></li>
		</ul>
	</footer>
</div>